<div id="<%= dom_id quiz %>">
  <p>
    <strong>Title:</strong>
    <%= quiz.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= quiz.description %>
  </p>

  <% if quiz.questions.any? %>
    <h2>Questions</h2>
    <ol>
      <% quiz.questions.each do |question| %>
        <li><%= question.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No questions available for this quiz.</p>
  <% end %>

</div>
